*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body, html {
    font-family: arial;
    background: #3B3B3B;
    color: white;
}

/* WELCOME */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(59, 59, 59, 0.7) 0%,rgba(59,59,59,0.8) 100%), url("../assets/zombie.jpg");
    background-size: cover;
}

.title {
    font-family: "violence";
    font-size: 8rem;
    letter-spacing: .8rem;
    color: rgb(185, 0, 0);
    margin-top: -40px;
    z-index: 10;
}

.subtitle {
    font-family: "violence";
    font-size: 3rem;
    letter-spacing: .2rem;
    color: rgb(185, 0, 0);
    margin-top: 20px;
    z-index: 10;
}

.logo {
    position: fixed;
    bottom: 0;
    height: auto;
    opacity: .2;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

a {
    text-decoration: none;
    color:rgb(185, 0, 0);
}

/*  APP */

.app__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100vw;
    color: white;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.content__container {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.profri__container {
    display: flex;
    /* height: 100vh; */
    width: 100vw;
}

.friends__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 89vh;
    width: 80vw;
    padding-left: 5vw;
    padding-top: 5vh;
    overflow: scroll;
}

.friend__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    margin: 0 2vw;
}

/* PROFILE PIC */

.logo__tiny {
    height: 74px;
    width: auto;
}

.profile__pic {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.header__status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-right: 20px;
}

.user__profilPic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid  #FFF;
    object-fit: cover;
    cursor: pointer;
}

.header__status .user__profilPic:hover {
    filter: brightness(0.6);
}

.default__profilPic {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid  #FFF;
    background: #FFF;
    color: #3B3B3B;
    text-transform: uppercase;
    font-family: "violence";
    text-align: center;
    font-size: 2.5rem;
    overflow: hidden;
    cursor: pointer;
}

.initial {
    margin-top: 15%;
}

.header__status .default__profilPic:hover {
    filter: brightness(0.6);
}

.menu__icon {
    fill: #FFF;
    height: 38px;
    width: 38px;
    margin-left: 20px;
    cursor: pointer;
}

.menu__icon:hover {
    filter: brightness(0.6);
}

.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top: 70px;
    width: 10vw;
    background: #3B3B3B;
    border: 1px solid rgb(88, 88, 88);
    border-bottom: none;
    box-shadow: -7px 7px 18px -5px rgba(0,0,0,0.2);
    z-index: 300;
}

.menu-item {
    font-size: .8rem;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgb(88, 88, 88);
    background: #3B3B3B;
    font-family: 'violence';
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-align: center;
    cursor: pointer;
    z-index: 300;
}

.menu-item:hover {
    background: rgb(185, 0, 0);
    border: 1px solid rgb(185, 0, 0);
}

.link {
    color: #fff;
    text-decoration: none;
}

/* UPLOADER */

.uploader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: .8;
    z-index: 800;
    background-image: url("../assets/blood_spash.svg");
    background-size: cover;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 40vw;
    height: 40vh;
    z-index: 1000;
}

.modal__title {
    margin: 20px;
    color: #FFF;
    font-size: 3rem;
    font-family: "violence";
    white-space: nowrap;
    overflow: hidden;
}

#file__input {
    width: 1px;
    visibility: hidden;
}

#file__input__fake {
    overflow: hidden;
    white-space: nowrap;
    color: #FFF;
    cursor: pointer;
    height: 30px;
    width: 200px;
    text-align: center;
}

.btn__upload {
    align-self: center;
    margin-top: 30px;
    width: 80px;
    height: 30px;
    background-color: rgb(185, 0, 0);
    border: none;
    border-radius: 10px;
    letter-spacing: .2rem;
    outline: none;
    font-family: "violence";
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

/* PROFILE */

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    max-width: 30vw;
    border-right: 1px solid rgb(88, 88, 88);
}

.profile__container img,
.profile__container .default__profilPic {
    align-self: center;
    font-size: 12rem;
    height: 200px;
    width: 200px;
    margin: 0 20px;
    margin-top: 3vh;
    overflow: hidden;
}

.profilePic__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profil__info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    margin-top: 5vh; 
}
 
.profile__name {
    margin-top: 3vh;
    font-family: "violence";
    font-size: 2rem;
    letter-spacing: .2rem;
    color: rgb(185, 0, 0);
    text-align: center;
}

/*  BIO  */

.bio__container {
    display: flex;
}

.bio__editor {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.add__bio {
    cursor: pointer; 
}

.add__bio:hover {
    text-decoration: underline;
}

.btn__bio {
    align-self: center;
    margin: 5vh 10px;
    width: 60px;
    height: 25px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'violence';
    letter-spacing: .2rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.input__bio {
    outline: none;
    resize: none;
    background: none;
    color: #FFF;
    border: 1px solid rgb(88, 88, 88);
    margin-bottom: -20px;
}

/* FRIEND BUTTON */

.btn__friend__container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
    width: 160px;
}

.btn__friend {
    background: rgb(185, 0, 0);
    margin-top: 20px;
    padding: 0 10px;
    padding-top: 5px;
    width: 140px;
    border-radius: 10px;
    border: none;
    font-family: "violence";
    color: #FFF;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: .1rem;
    cursor: pointer;
    white-space: nowrap;
    z-index: 300;
}

/*  FRIEND */

.old {
    margin-bottom: 5vh;
}

.futur {
    margin-bottom: 5vh;
}

.card__container {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 40vw;
}

.futurfriend {
    margin-top: 5vh;
}

.card__container .user__profilPic,
.card__container .default__profilPic{
    height: 100px;
    width: 100px;
    align-self: center;
    font-size: 6rem;
    overflow: hidden;
}

.friend__name {
    align-self: flex-start;
    font-family: "violence";
    font-size: 1.6rem;
    letter-spacing: .2rem;
    color: rgb(185, 0, 0);
    text-align: left;
}

/* SEARCH */

.search__container {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    position: relative;
}

.searchBar {
    width: 300px;
    height: 5vh;
    border: 1px solid rgb(88, 88, 88);
    outline: none;
    border-bottom: none;
    color: #FFF;
    background: rgb(75, 75, 75);
}

.searchBar::placeholder {
    color: #FFF;
}

.searchBar:focus {
    background: #3B3B3B;
}

.result__container {
    position: absolute;
    top: 5vh;
    left: 0;
    width: 302px;
    background: #3B3B3B;
    z-index: 2000;
}

.result {
    display: flex;
    align-items: center;
    height: 7vh;
    padding-left: 30px;
    border: 1px solid rgb(88, 88, 88);
    border-bottom: none;
}

.result__container:last-child {
    border-bottom: 1px solid rgb(88, 88, 88);
}

.result:hover {
    background: rgb(185, 0, 0);
}

.result__name {
    margin-left: 20px;
    font-family: 'violence';
    letter-spacing: .1rem;
    color: white;
    font-size: 1.2rem;
}

/* ONLINE CHAT */

.onlineUsers__container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vw;
    border: 1px solid rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
}

.online__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    border-bottom: 1px solid rgb(88, 88, 88);
    background: rgb(88, 88, 88);
    cursor: pointer;
}

.onlineUsers__card__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    background: #3B3B3B;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.header__open {
    height: 20px;
    width: 20px;
    fill: #fff;
}

.online__name {
    margin-left: 30px;
}

/*  CHAT ROOM */

.chat__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    width: 80vw;
    height: 85vh;
    padding-left: 5vw;
    padding-top: 5vh;
}

.screen__container {
    align-self: flex-start;
    width: 46vw;
    height: 65vh;
    border: 1px solid rgb(88, 88, 88);
    padding: 15px 2vw;
    overflow: scroll;
}

.messages__container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.message__container {
    display: flex;
    justify-content: flex-start;
    border:  1px solid rgb(88, 88, 88);
    border-radius: 5px;
    background: rgb(88, 88, 88);
    width: 25vw;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
}

.yours {
    align-items: flex-start;
}

.other {
    align-items: flex-end;
}

.message__content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.message__date {
    margin-top: 10px;
    margin-left: 10px;
    font-size: .7rem;
    color: rgb(145, 145, 145);
}

.message__name {
    font-family: 'violence';
    font-size: 1rem;
    letter-spacing: .1rem;
}

.message__text {
    margin-top: 5px;
}

.chat__messagearea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input__chat {
    outline: none;
    resize: none;
    background: none;
    width: 50vw;
    height: 15vh;
    color: #FFF;
    border: 1px solid rgb(88, 88, 88);
    background: rgb(75, 75, 75);
}

.input__chat::placeholder {
    color: #FFF;
}

.btn__chat {
    align-self: center;
    margin: 10px;
    width: 60px;
    height: 25px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'violence';
    letter-spacing: .2rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

/*  WALL  */

.wall__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70vw;
    height: 85vh;
    padding-left: 5vw;
    padding-top: 5vh;
    overflow: scroll;
}

.wall__messagearea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;

}

.input__wall {
    outline: none;
    resize: none;
    background: none;
    width: 50vw;
    height: 15vh;
    color: #FFF;
    border: 1px solid rgb(88, 88, 88);
    background: rgb(75, 75, 75);
}

.input__wall::placeholder {
    color: #FFF;
}

.input__wall:focus {
    background: #3B3B3B;
}

.btn__wall {
    align-self: center;
    margin: 10px;
    width: 80px;
    height: 25px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'violence';
    letter-spacing: .2rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.btn__container {
    display: flex;
    justify-content: center;
}

.btn__comment {
    align-self: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 30px;
}

.btn__link {
    align-self: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 30px;
}

.btn__picture {
    align-self: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#wall__input {
    width: 1px;
    visibility: hidden;
}

#wall__input__fake {
    overflow: hidden;
    white-space: nowrap;
    color: #FFF;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
    height: 20px;
    width: 200px;
    border-bottom: 1px solid rgb(88, 88, 88);
    text-align: left;
}

/*  POSTS  */

.posts__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    height: 60vh;
    width: 60vw;
}

.posts__container__other {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 85vh;
    width: 60vw;
    margin-top: 20px;
    overflow: scroll;
}

.post__container {
    align-self: center;
    background: rgb(88, 88, 88);
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
    width: 50vw;
    margin-top: 30px;
}

.post {
    display: flex;
    min-height: 20vh;
}

.userpic__container {
    padding-top: 5px;
    padding-left: 5px;
}

.userpic__container img {
    height: 50px;
    width: 50px;
}

.userpic__container .default__profilPic {
    height: 50px;
    width: 50px;
    font-size: 3rem;
}

.post__content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    color: #FFF;
    text-decoration: none;
}

.post__name {
    font-family: 'violence';
    font-size: 1rem;
    letter-spacing: .1rem;
}

.post__text {
    margin: 10px 0;
    width: 35vw;
    align-self: center;
    text-align: center;
}

.post__description {
    align-self: center;
    width: 400px;
    text-align: justify;
}

.post__publisher {
    margin-top: 20px;
    align-self: center;
}

.post__date {
    font-size: .7rem;
    color: rgb(145, 145, 145);
}

.post__picture {
    margin-top: 20px;
    align-self: center;
    max-height: auto;
    width: 400px;
}

.post__emptymessage {
    text-align: center;
}
 
/* REGISTRATION */

.form__registration {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    z-index: 10;
}

.input__registration {
    background: none;
    margin: 5px 20px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

.input__registration:focus {
    border-bottom: 1px solid rgb(185, 0, 0);
}

.input__registration::placeholder {
    color: white;
    font-family: arial;
}

.btn__registration {
    align-self: center;
    margin: 10px;
    width: 90px;
    height: 30px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "violence";
    font-size: 1rem;
    letter-spacing: .2rem;
    color: white;
    cursor: pointer;
}

/* LOGIN */

.form__login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input__login {
    background: none;
    margin: 5px 20px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

.input__login:focus {
    border-bottom: 1px solid rgb(185, 0, 0);
}

.input__login::placeholder {
    color: white;
    font-family: arial;
}

.btn__login {
    align-self: center;
    margin: 10px;
    width: 70px;
    height: 30px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "violence";
    font-size: 1rem;
    letter-spacing: .2rem;
    color: white;
    cursor: pointer;
}

.error {
    text-align: center;
    color: red;
}

@font-face {
    font-family: "violence";
    src: url("../assets/Violence.otf") format("opentype");
}

/* BLOOD TEST */

.animated:hover .blood {
    position: absolute;
    bottom: 0px;
    right:  6px;
    z-index: 100;
    width: 45px;
    height: 15px;
    background: rgb(185, 0, 0);
    border-radius:  50%;
    z-index: 270;
    animation: 3s drippin3 ease forwards;
}

.blood:before,
.blood:after {
    position: absolute;
    content: '';
}

.animated:hover .blood:before {
    bottom: 0px;
    right: 24px;
    width: 10px;
    height: 15px;
    background: rgb(185, 0, 0);
    border-radius: 0 0 100px 100px;
    z-index: 200;
    animation: 3s drippin ease forwards;
}

.animated:hover .blood:after {
    bottom: 0px;
    right: 8px;
    width: 12px;
    height: 23px;
    background: rgb(185, 0, 0);
    border-radius: 0 0 100px 100px;
    z-index: 200;
    animation: 3s drippin2 ease forwards;
}
 
.animated:hover .shine {
    position: absolute;
    z-index: 250;
    bottom: 0px;
    right:  8px;
    width: 0px;
    height: 0px;
}

.shine:before,
.shine:after {
    position: absolute;
    content: '';
}

.animated:hover .shine:after {
    position: absolute;
    z-index: 250;
    bottom: 5px;
    right: 2px;
    width: 2px;
    height: 4px;
    background: #FFF;
    border-radius: 100px;
    z-index: 259;
    animation: 3s drippin2 ease forwards;
} 

.animated:hover .shine:before {
    bottom: 4px;
    right: 18px;
    width: 2px;
    height: 4px;
    background: #FFF;
    border-radius: 100px;
    animation: 3s drippin ease forwards;
}  

@keyframes drippin {
    100% {
      transform: translateY(13px);
    }
} 

@keyframes drippin2 {
    100% {
      transform: translateY(20px);
    }
} 

@keyframes drippin3 {
    100% {
      transform: translateY(5px);
    }
} 

@media only screen and (max-width: 1200px) {
    .wall__container {
        transform: translateX(0)
    }
}

@media only screen and (max-width: 900px) {
    .profile__container {
        display: none;
    }
}