*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body, html {
    font-family: arial;
    background: #3B3B3B;
    color: white;
}

/* WELCOME */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(59, 59, 59, 0.7) 0%,rgba(59,59,59,0.8) 100%), url("../assets/zombie.jpg");
    background-size: cover;
}

.title {
    font-family: "violence";
    font-size: 8rem;
    letter-spacing: .8rem;
    color: rgb(185, 0, 0);
    margin-top: -40px;
    z-index: 10;
}

.subtitle {
    font-family: "violence";
    font-size: 3rem;
    letter-spacing: .2rem;
    color: rgb(185, 0, 0);
    margin-top: 20px;
    z-index: 10;
}

.logo {
    position: fixed;
    bottom: 0;
    height: auto;
    opacity: .2;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

a {
    text-decoration: none;
    color:rgb(185, 0, 0);
}

/*  APP */

.app__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 5px;
    width: 100vw;
    color: white;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.content__container {
    display: flex;
    height: 80vh;
    width: 100vw;
}

/* PROFILE PIC */

.logo__tiny {
    height: 75px;
    opacity: .7;
    width: auto;
}

.profile__pic {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.header__status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-right: 20px;
}

.user__profilPic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.user__profilPic:hover {
    filter: brightness(0.6);
}

.default__profilPic {
    height: 40px;
    width: auto;
    border-radius: 50%;
    border: 1px solid  rgb(202, 202, 202);
    fill: rgb(202, 202, 202);
    cursor: pointer;
}

.arrow {
    fill: #FFF;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.arrow:hover {
    filter: brightness(0.6);
}

.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top: 80px;
    width: 10vw;
    background: #3B3B3B;
    border: 1px solid rgb(88, 88, 88);
    border-bottom: none;
    box-shadow: -7px 7px 18px -5px rgba(0,0,0,0.2);
}

.menu-item {
    font-size: .8rem;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgb(88, 88, 88);
    font-family: 'violence';
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-align: center;
    cursor: pointer;
}

.menu-item:hover {
    background: rgb(126, 126, 126);
}

.logout {
    
}



/* UPLOADER */

.uploader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: .4;
    z-index: 80;
    background-image: url("../assets/blood_spash.svg");
    background-size: cover;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 40vw;
    height: 40vh;
    z-index: 100;
}

.modal__title {
    margin: 20px;
    color: #FFF;
    font-size: 3rem;
    font-family: "violence";
    white-space: nowrap;
    overflow: hidden;
}

#file__input {
    width: 1px;
    visibility: hidden;
}

#file__input__fake {
    overflow: hidden;
    white-space: nowrap;
    color: #FFF;
    cursor: pointer;
    height: 30px;
    width: 200px;
    text-align: center;
}

.btn__upload {
    align-self: center;
    margin-top: 30px;
    width: 80px;
    height: 30px;
    background-color: rgb(185, 0, 0);
    border: none;
    border-radius: 10px;
    letter-spacing: .2rem;
    outline: none;
    font-family: "violence";
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

/* PROFILE */

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 89vh;
    max-width: 30vw;
    border-right: 1px solid rgb(88, 88, 88);
}

.profile__container img,
.profile__container .default__profilPic {
    align-self: center;
    height: 200px;
    width: 200px;
    margin: 0 20px;
    margin-top: 3vh;
}

.profilePic__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profil__info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    margin-top: 5vh; 
}
 
.profile__name {
    margin-top: 3vh;
    font-family: "violence";
    font-size: 2rem;
    letter-spacing: .2rem;
    color: rgb(185, 0, 0);
    text-align: center;
}

/*  BIO  */

.bio__container {
    display: flex;
}

.bio__editor {
    display: flex;
    flex-direction: column;
}

.add__bio {
    cursor: pointer; 
}

.add__bio:hover {
    text-decoration: underline;
}

.btn__bio {
    align-self: center;
    margin: 5vh 10px;
    width: 60px;
    height: 25px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'violence';
    letter-spacing: .2rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.input__bio {
    outline: none;
    resize: none;
    background: none;
    color: #FFF;
    border: 1px solid rgb(88, 88, 88);
    margin-bottom: -20px;
}


/* FRIEND BUTTON */

.btn__friend__container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
}

.btn__friend {
    background: rgb(185, 0, 0);
    margin-top: 20px;
    padding: 0 10px;
    padding-top: 5px;
    width: 140px;
    border-radius: 10px;
    font-family: "violence";
    color: #FFF;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: .1rem;
    cursor: pointer;
    z-index: 300;
}
 
/* REGISTRATION */

.form__registration {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    z-index: 10;
}

.input__registration {
    background: none;
    margin: 5px 20px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

.input__registration:focus {
    border-bottom: 1px solid rgb(185, 0, 0);
}

.input__registration::placeholder {
    color: white;
    font-family: arial;
}

.btn__registration {
    align-self: center;
    margin: 10px;
    width: 90px;
    height: 30px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "violence";
    font-size: 1rem;
    letter-spacing: .2rem;
    color: white;
    cursor: pointer;
}

/* LOGIN */

.form__login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input__login {
    background: none;
    margin: 5px 20px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

.input__login:focus {
    border-bottom: 1px solid rgb(185, 0, 0);
}

.input__login::placeholder {
    color: white;
    font-family: arial;
}

.btn__login {
    align-self: center;
    margin: 10px;
    width: 70px;
    height: 30px;
    background-color: rgb(185, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "violence";
    font-size: 1rem;
    letter-spacing: .2rem;
    color: white;
    cursor: pointer;
}

.error {
    text-align: center;
    color: red;
}

@font-face {
    font-family: "violence";
    src: url("../assets/Violence.otf") format("opentype");
}


/* BLOOD TEST */


.btn__friend__container:hover .blood {
    position: absolute;
    bottom: 0px;
    right:  6px;
    z-index: 100;
    width: 45px;
    height: 15px;
    background: rgb(185, 0, 0);
    border-radius:  50%;
    z-index: 270;
    animation: 3s drippin3 ease forwards;
}

.blood:before,
.blood:after {
    position: absolute;
    content: '';
}

.btn__friend__container:hover .blood:before {
    bottom: 0px;
    right: 24px;
    width: 10px;
    height: 15px;
    background: rgb(185, 0, 0);
    border-radius: 0 0 100px 100px;
    z-index: 200;
    animation: 3s drippin ease forwards;
}

.btn__friend__container:hover .blood:after {
    bottom: 0px;
    right: 8px;
    width: 12px;
    height: 23px;
    background: rgb(185, 0, 0);
    border-radius: 0 0 100px 100px;
    z-index: 200;
    animation: 3s drippin2 ease forwards;
}
 
.btn__friend__container:hover .shine {
    position: absolute;
    z-index: 250;
    bottom: 0px;
    right:  8px;
    width: 0px;
    height: 0px;
}

.shine:before,
.shine:after {
    position: absolute;
    content: '';
}

.btn__friend__container:hover .shine:after {
    position: absolute;
    z-index: 250;
    bottom: 5px;
    right: 2px;
    width: 2px;
    height: 4px;
    background: #FFF;
    border-radius: 100px;
    z-index: 259;
    animation: 3s drippin2 ease forwards;
} 

.btn__friend__container:hover .shine:before {
    bottom: 4px;
    right: 18px;
    width: 2px;
    height: 4px;
    background: #FFF;
    border-radius: 100px;
    animation: 3s drippin ease forwards;
}  

@keyframes drippin {
    100% {
      transform: translateY(13px);
    }
} 

@keyframes drippin2 {
    100% {
      transform: translateY(20px);
    }
} 

@keyframes drippin3 {
    100% {
      transform: translateY(5px);
    }
} 